.compilazione {
  display: none;
  &.open {
    display: flex;
  }
  width: 100%;
  height: 100%;
  padding: 1rem;
  & form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    & .form-label {
      font-size: 0.8rem;
      margin: 0;
    }
    width: 100%;
    & .evadibile {
      display: flex;
      justify-content: space-between;
      & span {
        color: white;
        padding: 0.3rem 0.5rem;
        border-radius: 10px;
        opacity: 0.5;
        &.ok {
          opacity: 1;
          box-shadow: $custom-shadow;
        }
      }
      & .evadibile-si {
        background-color: $success;
      }
      & .evadibile-no {
        background-color: $danger;
      }
    }
    & .avvia-fotocamera,
    & .avvia-fotocamera-nc {
      color: $primary;
      font-size: 2rem;
      & i {
        &:active {
          color: $dark;
        }
      }
    }
    & .photo-box,
    & .photo-box-nc {
      display: flex;
      gap: 0.5rem;
      & .col {
        position: relative;
      }
      &.hidden {
        display: none;
      }
      & span {
        position: absolute;
        top: 0px;
        right: 0px;
        color: $danger;
        background-color: $dark;
        border-radius: 50%;
        padding: 0.3rem 0.5rem;
        font-weight: bold;
        font-size: 0.5rem;
      }
      & img {
        max-width: 100%;
        border-radius: 10px;
        box-shadow: $custom-shadow;
      }
    }
    & textarea {
      font-size: 0.8rem;
      box-shadow: $custom-shadow;
      border: none;
      &::placeholder {
        color: $isys-gray;
      }
    }
  }
}
