.custom-offcanvas-panel {
  &.menu {
    padding: 0;
    gap: 0;
    & h5 {
      margin: 0 !important;
      text-transform: uppercase;
      padding: 1rem;
      border-bottom: 1px solid $isys-gray;
      font-size: 1.2rem;
    }
    & ul {
      padding: 1rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & li {
        list-style: none;
        & a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-decoration: none;
          color: $dark;
          font-size: 0.9rem;
          & i {
            color: $primary;
            font-size: 1.2rem;
          }
        }
      }
    }
    & .menu-info {
      padding-inline: 1rem;
      display: flex;
      flex-direction: column;
      & .order-title {
        font-size: 0.7rem;
        color: $primary;
      }
      & .order-info {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        border-block: 1px solid $primary;
        padding-block: 1rem;
        & span {
          font-size: 0.9rem;
          &:first-child {
            font-weight: bold;
            text-transform: uppercase;
          }
          &:nth-child(2) {
            color: $secondary;
            & b {
              text-transform: uppercase;
              color: $white;
              background-color: $primary;
              border-radius: 50%;
              padding: 0.1rem 0.4rem;
              margin-right: 0.5rem;
            }
          }
          &:last-child {
            color: $secondary;
            font-size: 0.7rem;
          }
        }
        & a {
          color: $primary;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-decoration: none;
        }
      }
    }
    & .order-info {
    }
  }
}
