// SCROLLBAR NASCOSTA
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}

/* Firefox */
* {
  scrollbar-width: none; /* nasconde la scrollbar */
  -ms-overflow-style: none; /* IE e Edge Legacy */
}

/* Nasconde anche la scrollbar interna */
html,
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
